---
layout: default
title: Carfluent
page_class:
- class: home
image: "/img/carfluent-meta.jpg"
hero:
- 
    tagline: "Coming Soon"
    headline: "beautifully bilingual vehicle listings, built with AI"
    img-src: "img/hero-img-anim.svg"
    img-alt: "Carfluent is AI that helps auto dealers translate their web presence."

features:
-
    class: "features__item--left"
    img-src: "img/drone-walk-anim.svg"
    img-alt: "Carfluent's AI makes translation a snap!"
    headline: "get by with a little help from your machines"
    text: "We use artifical intellegence for fluid translations. That translates to less work, and a broader audience. Then of course, that translates to more sales."

-
    class: "features__item--right"
    img-src: "img/woman-car-anim.svg"
    img-alt: "Attract more customers with listings in their native language."
    headline: "big power with a little native lengua"
    text: "Attract more customers, using the language that they’re acustom to, and rely on some beautifuly crafted UX to do the rest."

highlight:
-
    img-src: "img/car-list-anim.svg"
    img-alt: "Carfluent offers multilingual listings"
    tagline: "Instantly Bilingual"
    headline: "publish spanish inventory listings in less time than it took to read this sentence"

---
{% for hero in page.hero %}
<div class="hero">
    <div class="hero__headline">
        <h3>{{ hero.tagline }}</h3>
        <h1>{{ hero.headline }}</h1>
        <a class="typeform-share button btn" href="https://form.typeform.com/to/ZzfQRG8P?typeform-medium=embed-snippet" data-mode="drawer_right" target="_blank">Join waitlist </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
    </div>
    <div class="hero__right">
        <img src="{{ hero.img-src }}" alt="{{ hero.img-alt }}">
    </div>
</div>
{% endfor %}

<!-- {% include modal-form.html %} -->

<div class="features">
    <div class="features__wrapper">
        {% for feature in page.features %}
        <div class="features__item  {{ feature.class }}">
            <div class="features__item-wrapper">
                <img src="{{ feature.img-src }}" alt="{{ feature.img-alt }}">
                <h2><span>{{ feature.headline }}</span></h2>
                <p>{{ feature.text }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% for highlight in page.highlight %}
<div class="highlight">
    <div class="highlight__left">
        <div class="highlight__left-image">
            <img src="{{ highlight.img-src }}" alt="{{ highlight.img-alt }}">
        </div>
    </div>
    <div class="highlight__right">
        <div class="highlight__right-wrapper">
            <h3>{{ highlight.tagline }}</h3>
            <h2>{{ highlight.headline }}</h2>
            <a class="typeform-share button btn" href="https://form.typeform.com/to/ZzfQRG8P?typeform-medium=embed-snippet" data-mode="drawer_right" target="_blank">Join waitlist </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
        </div>
    </div>
</div>
{% endfor %}
