<div id="modal-content">
    <a href="#" class="close"></a>
    <div id="modal-inner">
    <form action="/success.html" name="contact" method="POST" netlify>
        <input type="text" name="first-name" placeholder="First Name">
        <input type="text" name="last-name" placeholder="Last Name">
        <input type="text" name="dealership-name" placeholder="Dealership Name">
        <input type="email" name="email" placeholder="Email Address">
        <textarea name="comments" rows="10" placeholder="Comments"></textarea>
        <input name="form-submit" type="submit" value="Join Waitlist" />
    </form>
</div>
  <!-- <a href="#" class="close"></a>
  <div id="modal-inner">
    
    <form action="/success.html" name="contact" method="POST" netlify>

        <div class="input-group">
          <input id="first_name" class="username" type="text" name="first_name" required placeholder=" " />
          <label for="first_name">First Name</label>
        </div>
      
        <div class="input-group">
          <input id="last_name" class="username" type="text" name="last_name" required placeholder=" " />
          <label for="last_name">Last Name</label>
        </div>

        <div class="input-group">
            <input id="last_name" class="business" type="text" name="business_name" required placeholder=" " />
            <label for="last_name">Dealership Name</label>
          </div>
        
        <div class="input-group">
          <input id="email" class="email" type="email" name="email" required placeholder=" " />
          <label for="email">Email Address</label>
          <div class="requirements">
            Must be a valid email address.
          </div>
        </div>
      
        <div class="input-group">
          <textarea id="textarea" class="write" name="textarea" required placeholder=" "></textarea>
          <label for="textarea">Comments</label>
        </div>
        
        <input name="form-submit" type="submit" value="Join Waitlist" />
      
      </form>

  </div> -->
</div>