footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background: $color-6;
    font-family: $archivo;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .9rem;
    text-align: center;
}