.header {
    position: sticky;
    background: $color-2;
    padding: 40px 20px;

    &__container {
        display: flex;
        align-items: center;
        margin: 0 auto;

        @include desktop-sm-min {
            padding: 0 40px;
        }
    }

    &__logo {
        flex: 0 0 30%;

        img {
            display: block;
            width: 100%;
            height: auto;
            max-width: 250px;
            min-width: 175px;
        }
    }
}