body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    min-height: 90vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $space;
    letter-spacing: 1px;
    text-transform: lowercase;
}

p {
    color: $color-1;
    font-family: $plex, sans-serif;
}

.btn {
    background: $color-4;
    padding: 10px 30px;
    border-radius: 30px;
    font-family: $lexend;
    text-align: center;
    color: $color-2;
    font-size: .8rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: background .3s;

    &:hover {
        background: darken($color-4, 10%);
    }
}