body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    min-height: 90vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $cerebri-bold;
}

h3 {
    color: $color-2;
    text-transform: uppercase;
    font-size: .8rem;
    font-family: $lexend;
    margin-top: 0;
}

h1 {
    color: $color-1;
    font-family: $cerebri-bold;
    font-size: clamp(1rem, 2.75vw, 2.75rem);
    width: 100%;
    margin-bottom: 40px;
}

p {
    color: $color-1;
    font-family: $cerebri, sans-serif;
}

.btn {
    background: $color-4;
    padding: 15px 30px;
    border-radius: 10px;
    font-family: $cerebri-bold;
    text-align: center;
    color: $color-2;
    font-size: .8rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: background .3s;

    &:hover {
        background: darken($color-4, 10%);
    }
}

.tag {
    position: relative;
    display: inline-block;
    color: $color-1;

    &::before {
        content: '';
        position: absolute;
        inset: auto -10px -5px -10px;
        height: 10px;
        background: $color-3;
    }

    span {
        position: relative;
        z-index: 1;
    }
}